################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wireframe-Shader.sln
/UserSettings
/Temp
/Packages
/Logs
/Library
/.vs/Wireframe-Shader/v16/TestStore/0
